.mediaViewInfo {
	--web-view-name: Mas;
	--web-view-id: Mas;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mas;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mas {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(254,193,6,1);
	overflow: hidden;
	--web-view-name: Mas;
	--web-view-id: Mas;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Path_10446 {
	fill: rgba(255,255,255,1);
}
.Path_10446 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1938px;
	height: 216px;
	left: -3px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 193px;
	left: 42px;
	top: 10px;
}
#Group_16040 {
	position: absolute;
	width: 999px;
	height: 49px;
	left: 844px;
	top: 80px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 727px;
	height: 34px;
	left: 135px;
	top: 2px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 148px;
	height: 33px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Productos {
	left: 33px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Icon_simple-cakephp {
	fill: rgba(112,112,112,1);
}
.Icon_simple-cakephp {
	overflow: visible;
	position: absolute;
	width: 23.863px;
	height: 17.994px;
	left: 0px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2 {
	position: absolute;
	width: 133.497px;
	height: 33px;
	left: 200.502px;
	top: 1px;
	overflow: visible;
}
#Comprar {
	left: 34.498px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Icon_ionic-ios-cart {
	position: absolute;
	width: 23.259px;
	height: 20px;
	left: 0px;
	top: 7px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(112,112,112,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 3.375px;
	height: 3.375px;
	left: 4.751px;
	top: 16.625px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(112,112,112,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 3.375px;
	height: 3.375px;
	left: 16.045px;
	top: 16.625px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(112,112,112,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 23.259px;
	height: 15.493px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 129px;
	height: 33px;
	left: 598px;
	top: 0px;
	overflow: visible;
}
#Contacto {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Ellipse_2 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 25px;
	left: 0px;
	top: 4px;
}
#Icon_ionic-ios-call {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-ios-call {
	overflow: visible;
	position: absolute;
	width: 15.216px;
	height: 12.5px;
	left: 3.892px;
	top: 10.25px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16029 {
	position: absolute;
	width: 95px;
	height: 33px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Login {
	left: 32px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Icon_awesome-user {
	fill: rgba(112,112,112,1);
}
.Icon_awesome-user {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 26.997px;
	left: 0px;
	top: 3.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16031 {
	position: absolute;
	width: 119px;
	height: 33px;
	left: 558.249px;
	top: 3px;
	overflow: visible;
}
#Ubicacin_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Ms {
	left: 942px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(12,1,1,1);
}
#Icon_material-location-on {
	fill: rgba(112,112,112,1);
}
.Icon_material-location-on {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 30px;
	left: 528px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10440 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_10440 {
	overflow: visible;
	position: absolute;
	width: 101px;
	height: 1px;
	left: 898px;
	top: 49px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-more-horiz {
	fill: rgba(0,0,0,1);
}
.Icon_material-more-horiz {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 6px;
	left: 910px;
	top: 17px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
	fill: rgba(255,114,92,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 672px;
	height: 882px;
	left: 0px;
	top: 198px;
}
#Group_15 {
	position: absolute;
	width: 84px;
	height: 40px;
	left: 265px;
	top: 880px;
	overflow: visible;
}
#Ms_ {
	left: 28px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Icon_material-more-horiz_ {
	fill: rgba(251,238,238,1);
}
.Icon_material-more-horiz_ {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 6px;
	left: 0px;
	top: 20px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_6197 {
	opacity: 0.11;
	fill: transparent;
}
.Rectangle_6197 {
	position: absolute;
	overflow: visible;
	width: 1111px;
	height: 758px;
	left: 689px;
	top: 312px;
}
#Nuestros_prximos_puntos_de_ven {
	left: 1359px;
	top: 242px;
	position: absolute;
	overflow: visible;
	width: 420px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(13,1,1,1);
}
#Productos_por_ingresara_nuestr {
	left: 734px;
	top: 242px;
	position: absolute;
	overflow: visible;
	width: 454px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(13,1,1,1);
}
#n_theflavorfactory_logo_colord {
	filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 175px;
	height: 175px;
	left: 43px;
	top: 10px;
	overflow: visible;
}
#n_theflavorfactory_logo_colord_be {
	filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 314px;
	height: 314px;
	left: 179px;
	top: 383px;
	overflow: visible;
}
#Scroll_Group_9 {
	mix-blend-mode: normal;
	position: absolute;
	width: 335px;
	height: 645px;
	left: 786px;
	top: 375px;
	overflow: hidden;
}
#Component_1__1 {
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: -6px;
	overflow: visible;
}
#NoPath_-_Copy_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(254,193,6,1);
}
.Rectangle_7 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 353px;
	height: 99px;
	left: 0px;
	top: 146px;
}
#Brigadeiro_de_coco {
	left: 64px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-pricetag {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-pricetag {
	overflow: visible;
	position: absolute;
	width: 27.001px;
	height: 26.993px;
	left: 25.499px;
	top: 172.004px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_1__2 {
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 251px;
	overflow: visible;
}
#NoPath_-_Copy_12 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_bn {
	fill: rgba(254,193,6,1);
}
.Rectangle_7_bn {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 353px;
	height: 99px;
	left: 0px;
	top: 146px;
}
#Brigadeiro_de_maracuy {
	left: 64px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-pricetag_bp {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-pricetag_bp {
	overflow: visible;
	position: absolute;
	width: 27.001px;
	height: 26.993px;
	left: 25.499px;
	top: 172.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_1__3 {
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 508px;
	overflow: visible;
}
#NoPath_-_Copy_13 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_bs {
	fill: rgba(254,193,6,1);
}
.Rectangle_7_bs {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 353px;
	height: 99px;
	left: 0px;
	top: 146px;
}
#Brigadeiro_de_fresa {
	left: 64px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-pricetag_bu {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-pricetag_bu {
	overflow: visible;
	position: absolute;
	width: 27.001px;
	height: 26.993px;
	left: 25.499px;
	top: 172.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Scroll_Group_23 {
	mix-blend-mode: normal;
	position: absolute;
	width: 335px;
	height: 645px;
	left: 1359px;
	top: 375px;
	overflow: hidden;
}
#Component_1__4 {
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: -6px;
	overflow: visible;
}
#NoPath_-_Copy_10_bx {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_10455 {
	fill: rgba(254,193,6,1);
}
.Path_10455 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 353px;
	height: 99px;
	left: 0px;
	top: 146px;
	transform: matrix(1,0,0,1,0,0);
}
#San_Jos {
	left: 64px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Component_1__5 {
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 251px;
	overflow: visible;
}
#NoPath_-_Copy_12_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_b {
	fill: rgba(254,193,6,1);
}
.Rectangle_7_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 353px;
	height: 99px;
	left: 0px;
	top: 146px;
}
#Heredia {
	left: 64px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Icon_material-location-on_b {
	fill: rgba(255,255,255,1);
}
.Icon_material-location-on_b {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 30px;
	left: 37px;
	top: 170px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_1__6 {
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 508px;
	overflow: visible;
}
#NoPath_-_Copy_13_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 335px;
	height: 227px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_ca {
	fill: rgba(254,193,6,1);
}
.Rectangle_7_ca {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 353px;
	height: 99px;
	left: 0px;
	top: 146px;
}
#Cartago {
	left: 64px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Icon_material-location-on_ca {
	fill: rgba(255,255,255,1);
}
.Icon_material-location-on_ca {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 30px;
	left: 37px;
	top: 170px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-location-on_cb {
	fill: rgba(255,255,255,1);
}
.Icon_material-location-on_cb {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 30px;
	left: 35px;
	top: 165px;
	transform: matrix(1,0,0,1,0,0);
}