.mediaViewInfo {
	--web-view-name: Perfil – nuevo;
	--web-view-id: Perfil__nuevo;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Perfil__nuevo;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Perfil__nuevo {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Perfil – nuevo;
	--web-view-id: Perfil__nuevo;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Path_5 {
	fill: rgba(255,255,255,1);
}
.Path_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1938px;
	height: 216px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_theflavorfactory_logo_colord {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 176px;
	height: 175px;
	left: 38px;
	top: 10px;
	overflow: visible;
}
#Rectangle_6219 {
	filter: blur(23px);
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6219 {
	position: absolute;
	overflow: visible;
	width: 1166px;
	height: 709px;
	left: 377px;
	top: 279px;
}
#Informacin_personal {
	left: 108px;
	top: 675px;
	position: absolute;
	overflow: visible;
	width: 279px;
	height: 37px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Rectangle_6201 {
	fill: rgba(248,200,52,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6201 {
	position: absolute;
	overflow: visible;
	width: 583px;
	height: 709px;
	left: 379px;
	top: 279px;
}
#Group_16044 {
	position: absolute;
	width: 165px;
	height: 46px;
	left: 577px;
	top: 871px;
	overflow: visible;
}
#Rectangle_6202 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6202 {
	position: absolute;
	overflow: visible;
	width: 165px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Editar {
	left: 11px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 32px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Perfil {
	left: 622px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#ltimas_compras {
	left: 999px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Productos_favoritos {
	left: 999px;
	top: 658px;
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Informacin_personal_r {
	left: 464px;
	top: 624px;
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 30px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Cambiar_contrasea {
	left: 464px;
	top: 825px;
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#Rectangle_6203 {
	fill: rgba(237,236,236,1);
}
.Rectangle_6203 {
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 48px;
	left: 464px;
	top: 674px;
}
#Rectangle_6204 {
	fill: rgba(237,236,236,1);
}
.Rectangle_6204 {
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 48px;
	left: 464px;
	top: 757px;
}
#Correo_electrnico {
	left: 474px;
	top: 686px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 24px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Nmero_de_telfono {
	left: 474px;
	top: 769px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 24px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Ellipse_1253 {
	position: absolute;
	width: 167px;
	height: 167px;
	left: 577px;
	top: 380px;
	overflow: visible;
}
#Nombre_completo {
	left: 548px;
	top: 557px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#Group_16254 {
	position: absolute;
	width: 992px;
	height: 45px;
	left: 841px;
	top: 77px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 727px;
	height: 34px;
	left: 138px;
	top: 2px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 148px;
	height: 33px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Productos {
	left: 33px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Icon_simple-cakephp {
	fill: rgba(112,112,112,1);
}
.Icon_simple-cakephp {
	overflow: visible;
	position: absolute;
	width: 23.863px;
	height: 17.994px;
	left: 0px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2 {
	position: absolute;
	width: 133.497px;
	height: 33px;
	left: 200.502px;
	top: 1px;
	overflow: visible;
}
#Comprar {
	left: 34.498px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Icon_ionic-ios-cart {
	position: absolute;
	width: 23.259px;
	height: 20px;
	left: 0px;
	top: 7px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(112,112,112,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 3.375px;
	height: 3.375px;
	left: 4.751px;
	top: 16.625px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(112,112,112,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 3.375px;
	height: 3.375px;
	left: 16.045px;
	top: 16.625px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(112,112,112,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 23.259px;
	height: 15.493px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 129px;
	height: 33px;
	left: 598px;
	top: 0px;
	overflow: visible;
}
#Contacto {
	left: 26px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Ellipse_2 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 25px;
	left: 0px;
	top: 4px;
}
#Icon_ionic-ios-call {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-ios-call {
	overflow: visible;
	position: absolute;
	width: 15.216px;
	height: 12.5px;
	left: 3.892px;
	top: 10.25px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16029 {
	position: absolute;
	width: 91px;
	height: 33px;
	left: 3px;
	top: 0px;
	overflow: visible;
}
#Perfil_bf {
	left: 32px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Icon_awesome-user {
	fill: rgba(0,0,0,1);
}
.Icon_awesome-user {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 26.997px;
	left: 0px;
	top: 3.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16031 {
	position: absolute;
	width: 119px;
	height: 33px;
	left: 561.249px;
	top: 3px;
	overflow: visible;
}
#Ubicacin_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Ms {
	left: 945px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Icon_material-location-on {
	fill: rgba(112,112,112,1);
}
.Icon_material-location-on {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 30px;
	left: 531px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10440 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_10440 {
	overflow: visible;
	position: absolute;
	width: 101px;
	height: 1px;
	left: 0px;
	top: 45px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-more-horiz {
	fill: rgba(112,112,112,1);
}
.Icon_material-more-horiz {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 6px;
	left: 913px;
	top: 17px;
	transform: matrix(1,0,0,1,0,0);
}
#No_tienes_compras_recientes {
	left: 999px;
	top: 403px;
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 33px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(99,93,93,1);
}
#No_tienes_productos_favoritos {
	left: 999px;
	top: 731px;
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 33px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(99,93,93,1);
}